<div class="results">
	<h1>Your Movies:</h1>

	<% 	@movies.each do |movie| %>

	<div class="movie">

				<div class="poster">
					<p> <%= image_tag movie['Poster'] %> </p>
				</div>

				<div class="info">
					<p id="title"> <%= movie['Title'] %> </p>
					<p> Year: <%= movie['Year'] %> </p>
					<p> Rating: <%= movie['Rated']		%> </p>
					<p> Release Date: <%= movie['Released'] %></p>
					<p> Runtime: <%= movie['Runtime'] %></p>

					Actors:
						<ul>
							<% movie['Actors'].split(', ').each do |actor|  %>
							<li> <%= actor %></li>
							<% end %>
						</ul>

					Director(s):
						<ul>
							<% movie['Director'].split(', ').each do |director| %>
							<li> <%= director %></li>
							<% end %>
						</ul>

					Genre(s):
						<ul>
							<% movie['Genre'].split(', ').each do |genre| %>
							<li> <%= genre %></li>
							<% end %>
						</ul>

				<div class="clear"></div>

			</div><!--end info-->

				<span class="divider"></span>
	</div> <!--end movie-->
		<% end %>

</div> <!-- end results-->
